@{
    ViewData["Title"] = "Latest Hacker News Titles";
    ViewData["Message"] = "Kaush Chokshi - Coding Sample - ASP.NET Core Razor";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
